<div class="container-fuild pt-3">
  <div class="row reserve-wrapper py-5">
    <div class="col-12">
      <div class="reserve-container p-4">
        <div class="row reserve-field pb-3">
          <label class="col-md-3 fw-bold">予約した部屋</label>
          <%= link_to "#{@room.name}", room_path(@room.id), class: "col-md-9" %>
        </div>

        <div class="row reserve-field pt-3 pb-3">
        <label class="col-md-3 fw-bold">開始日</label>
        <div class="col-md-9"><%= @reserve.start_date.strftime("%Y年%m月%d日") %></div>
        </div>

        <div class="row reserve-field pt-3 pb-3">
        <label class="col-md-3 fw-bold">終了日</label>
        <div class="col-md-9"><%= @reserve.end_date.strftime("%Y年%m月%d日") %></div>
        </div>

        <div class="row pt-3">
        <label class="col-md-3 fw-bold">価格</label>
        <div class="col-md-9"><%= @reserve.total_price %>円</div>
        </div>

      </div>
    </div>
  </div>
</div>