<div class="cover_top">
  <div class="search_box">
    <P>Potepan Shareでまだ体験したことのない旅をしよう</p>
    <p>エリア</P>
  </div>
</div>

<div class="container">
  <h1>おすすめのエリア</h1>
  <%# <%= link_to  %>
  <%# <%= link_to  %>
  <%# <%= link_to  %>
  <%# <%= link_to  %>
</div>