// 共通

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
}

p {
  margin: 0;
}

.btn-primary {
  background-color: #4a90e2 !important;
}

a {
  text-decoration: none;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid !optional;
  }
}

.error_outer {
  border: solid 2px red;
  margin: 0 auto 30px;
  max-width: 800px;
  text-align: center;
}

.error_outer ul {
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}


// header

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 4px 30px;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-form {
  display: flex;
}

.header-search {
  position: relative;
  margin-right: 4px;
}

.left-header .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
}

.fa-location-dot {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.fa-magnifying-glass {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.right-header p {
  margin-bottom: 0;
}

.nav-image {
  display: inline-block;
  cursor: pointer;
  margin: 0 16px;
}

.nav-trigger {
  background: #ffffff;
  display: none;
  position: absolute;
  top: 75px;
  right: 10px;
  padding: 20px 30px;
  margin: 0;
  z-index: 1000;
}

.nav-trigger li {
  list-style: none;
}

.nav-trigger li + li {
  margin-top: 15px;
}

.nav-trigger a {
  text-decoration: none;
  color: black;
}

.style {
  display: block;
}

.notice {
  margin: 0;
  text-align: center;
  background-color: #ADD8E6;
  color: #ffffff;
}

.alert {
  margin: 0;
  text-align: center;
  background-color: #F35401;
  color: #ffffff;
}




// footer

footer {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
}

footer p {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}