/* sessions/new */

.container {
  padding-top: 36px;
}

.form {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(21, 27, 38, 25%);
}

.form .title-login-registration {
  font-size: 16px;
  margin: 24px 0;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.must-icon::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.field .form-control {
  width: 300px;
  margin-left: 10px;
}

.actions {
  padding-top: 10px;
  margin-bottom: 25px;
}

.actions .btn {
  width: 350px;
}


/* registrations/new */
// sessions/new参照


/* registrations/edit */

.title-account {
  font-size: 32px;
}

.field-account label {
  margin-bottom: 5px;
}

.field-account .form-control {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.back-btn {
  width: 350px;
}


/* validationエラーMSG */
#error_explanation {
  border: solid 2px red;
  margin: 30px 0;
}

#error_explanation h2 {
  font-size: 16px;
  margin: 0;
  background-color: #CC0100;
  color: #fff;
}


