// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* top画面 */

.cover-top {
  background-image: image-url('cover_top.jpeg');
  background-size: cover;
  height: 650px;
  width: 100%;
}

.reccomend-area {
  padding: 40px 0 70px 0;
}

.reccomend-area h4 {
  margin-bottom: 40px;
  font-weight: bold;
}

.search-card {
  position: relative;
}

.search-card span {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.search-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.right-header p {
  color: #ffffff;
}


/* search */

.search-wrapper {
  padding: 30px 60px;
}

.search-wrapper h4 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.room-image-out {
  background-color: #F5F8F9;
  position: relative;
  height: 200px;
  border-radius: 0.375rem;
}

.card-img-top {
  position: absolute;
  top: 20px;
  height: 180px;
  border-radius: 0;
}

.room-name {
  color: #909090;
  font-size: 18px;
  font-weight: bold;
}

.address {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.price {
  color: black;
  font-size: 16px;
  text-align: right;
}

.price::before {
  content: "¥";
  margin-right: 5px;
}


/* new */

.nav-bar {
  padding: 30px 0;
}

.nav-bar ul li {
  font-size: 18px;
  float: left;
  padding: 10px;
}

.nav-bar ul li a {
  color: black;
}

.nav-bar ul .active {
  border-bottom: solid 3px #4B8FE2;
}

.nav-bar ul .active a {
  color: #6AA2E7;
}

.nav-list {
  text-align: center;
  border-right: solid 2px #E2E2E2;
  padding-top: 40px;
}

.nav-list ul {
  padding-left: 40px;
}

.nav-list ul li {
  font-size: 18px;
  text-align: start;
  padding: 10px;
}

.nav-list ul li a {
  color: black;
}

.nav-list ul .active {
  border-right: solid 3px #4B8FE2;
}

.nav-list ul .active a {
  color: #6AA2E7;
}

.room-register-wrapper {
  background-color: #F5F8F9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.room-register-content {
  background-color: #ffffff;
  max-width: 880px;
  margin: 0 auto;
  border: solid 1px #EAEDEF;
  padding: 20px 15px;
}

.room-register-content h5 {
  padding-left: 5px;
  padding-bottom: 20px;
}

.room-register-content .row {
  border-top: 1px solid #EAEDEF;
  padding: 20px 20px 40px 20px;
  // display: flex;
  // flex-wrap: wrap;
}

.room-register-content .row label {
  font-weight: bold;
}


.room-register-content .row .must-label::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}


/* index */
/* reserves.scss>indexと同じ */


/* show */

.room-image img {
  width: 100%;
}

.reserve-box {
  border: solid 1px #EAEDEF;
}

.room-profile .room-name-address {
  border-bottom: 1px solid #EAEDEF;
}

.room-profile .icon {
  text-align: center;
}

.room-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-profile .room-introduction {
  border-bottom: 1px solid #EAEDEF;
}


