// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* account */
/* rooms.scss > new 参照*/

.img-out {
  text-align: center;
}

.nav-bar ul li {
  list-style: none;
}

.nav-list ul li {
  list-style: none;
}
